* {
  padding: 0;
  margin: 0;
}

/* font inter */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Shared Styles */
.container {
  max-width: 1140px;
  margin: 0 auto;
}
.btn {
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
  background-color: rgba(70, 145, 101, 1);
  color: white;
  border-radius: 4px;

  border: 1px solid rgba(70, 145, 101, 1);
  padding: 12px 16px;
  cursor: pointer;
}
.btn:hover {
  color: rgba(70, 145, 101, 1);
  background-color: white;

  border: 1px solid rgba(70, 145, 101, 1);
  transition: 0.3s ease-in-out;
}

.d-flex {
  display: flex;
  align-items: center;
}

/* Main Styles */
/* navbar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
}

/* menu */
.menu ul {
  display: flex;
}
.menu li {
  list-style: none;
}
.menu li a {
  color: rgba(0, 0, 0, 1);
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  margin-right: 32px;
  text-decoration: none;
}
.menu li a:hover {
  color: rgba(70, 145, 101, 1);
  transition: 0.2s ease-in-out;
  text-decoration: underline;
}
