* {
  padding: 0;
  margin: 0;
}

/* font inter */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Shared Styles */
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.btn {
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
  background-color: rgba(70, 145, 101, 1);
  color: white;
  border-radius: 4px;

  border: 1px solid rgba(70, 145, 101, 1);
  padding: 12px 16px;
  cursor: pointer;
}
.btn:hover {
  color: rgba(70, 145, 101, 1);
  background-color: white;

  border: 1px solid rgba(70, 145, 101, 1);
  transition: 0.3s ease-in-out;
}

.d-flex {
  display: flex;
  align-items: center;
}

/* Main Styles */
/* navbar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
}

/* menu */
.menu ul {
  display: flex;
}
.menu li {
  list-style: none;
}
.menu li a {
  color: rgba(0, 0, 0, 1);
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  margin-right: 32px;
  text-decoration: none;
}
.menu li a:hover {
  color: rgba(70, 145, 101, 1);
  transition: 0.2s ease-in-out;
  text-decoration: underline;
}
/* banner */
.banner {
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)),
    url("./assets/hero-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 90vh;
  margin-bottom: 80px;
}
.banner-access {
  padding: 8px 12px 8px 12px;
  border-radius: 1000px;
  background: rgba(255, 255, 255, 1);
  color: rgba(70, 145, 101, 1);
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 24px;
}
.banner-access img {
  margin-right: 6px;
}
.banner-title {
  font-style: Bold;
  font-size: 72px;
  font-weight: 700;
  text-transform: capitalize;
  text-align: center;
  color: white;
  margin-bottom: 16px;
}
.banner-title span {
  color: rgba(70, 145, 101, 1);
}
.banner-content {
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.9;
  text-align: center;
  margin-bottom: 32px;
}
.banner-btn {
  background-color: transparent;
  color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(255, 255, 255, 1);
  margin-left: 16px;
}
.banner .btn i {
  padding-left: 10px;
}
.banner-btn i {
  padding-right: 10px;
}
/* structure item */
.structure {
  text-align: center;
  padding-bottom: 120px;
}
.structure-items {
  align-items: center;
  gap: 18px;
}
.structure-item {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  padding: 24px 10px;
}
.structure-title {
  color: rgba(0, 25, 49, 1);
  font-size: 48px;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 16px;
}
.structure-content {
  color: rgba(98, 115, 130, 1);
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 80px;
}
.structure-item img {
  padding: 12px;
  background: rgba(249, 85, 85, 1);
  border-radius: 50%;
  margin-bottom: 24px;
}
.structure-item h3 {
  color: rgba(0, 25, 49, 1);
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 16px;
}
.structure-item p {
  color: rgba(98, 115, 130, 1);
  font-size: 16px;
  font-weight: 400;
}
/* feature section */
.feature {
  padding-bottom: 80px;
  gap: 30px;
}
.feature-solution {
  color: rgba(70, 145, 101, 1);
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}
.feature-title {
  color: rgba(0, 25, 49, 1);
  font-size: 48px;
  font-weight: 700;
  text-transform: capitalize;
  margin: 16px 0;
}
.feature-content {
  color: rgba(98, 115, 130, 1);
  font-style: Regular;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 40px;
  line-height: 1.4;
}
.feature-catagory {
  color: rgba(0, 25, 49, 1);
  font-style: Medium;
  font-size: 16px;
  font-weight: 500;
}
.feature-catagory p {
  margin-bottom: 16px;
}
.feature-catagory img {
  margin-right: 6px;
}
